*{
   
    background-color: #2C3333;
    /* background-color: #343434; */
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    font-style: normal;
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Uwu_and_OwOCursor.png) , default !important;
}

.gameContainer h1{
    border-bottom: 2px solid #fff;
}

.cell{
    width: 75px;
    height: 75px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    line-height: 75px;
    font-size: 50px;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Uwu_and_OwOPointer.png)   , pointer !important;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(6) ~ .cell{
    border-bottom: none;
}

.cell:hover{
    background-color: #b5b2f7, transparent;
}


.gameContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
    align-items: center;
    /* margin-top: 90px; */
    position: relative;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* border: 3px solid #fff; */
    border-radius: 8px;
    width: 232px;
    margin: auto;
    
}

#restartBtn{
    height: 50px;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 24px;
    box-shadow: 3px 4px 4px #646464;
}

#restartBtn:hover{
    transform: translateY(-4px);
    background-color: #0e111f;
}

.line{
    width:0;
    height: 5px;
    background-color: #ffffff;
    filter: drop-shadow(2px 2px 5px #fff);
    border-radius: 10px;
    position: absolute;
    transition: width 1s ease-in-out;
}

